<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>My Health Journal</title>
    <link rel="dns-prefetch" href="//unpkg.com" />
    <link rel="dns-prefetch" href="//cdn.jsdelivr.net" />
    <link
      rel="stylesheet"
      href="https://unpkg.com/tailwindcss@^1.0/dist/tailwind.min.css"
    />
    <link rel="stylesheet" type="text/css" href="../../public/css/output.css" />
  </head>
  <body class="">

    <header class="container m-auto py-6">

      {{#if loggedIn}}
        <div class="flex justify-between">
          <h1
            class="text-xs px-1 font-bold text-blue-800 sm:text-md sm:px-2 lg:text-2xl"
          >{{userEmail}}</h1>
          <nav class="px-1 sm:px-2">
            <a
              href="../journal"
              class="text-2xl font-bold text-blue-800 py-1 px-4 border-4 rounded-lg hover:bg-blue-100"
            >Journal</a>
            <a
              href="../form"
              class="text-xs font-bold text-blue-800 py-1 border-2 rounded-lg hover:bg-blue-100 sm:text-md sm:px-4 lg:text-2xl"
            >Create Patient</a>
            <a
              href="../patientview"
              class="text-xs font-bold text-blue-800 py-1 border-2 rounded-lg hover:bg-blue-100 sm:text-md sm:px-4 lg:text-2xl"
            >Patient List</a>
            <button
              class="text-xs font-bold text-blue-800 border-2 rounded-lg hover:bg-blue-100 sm:text-md sm:px-4 lg:text-2xl"
              id="logout"
            >Logout</button>

          </nav>
        </div>
      {{else}}
        <div class="flex justify-center">
          <h1 class="text-2xl sm:text-6xl font-bold text-blue-800">My Health
            Journal</h1>
        </div>
      {{/if}}
    </header>
    <main
      class="flex flex-col sm:flex-row items-center justify-center h-full shadow border-t-4 bg-gradient-to-r from-blue-200 via-gray-100 to-blue-200"
    >

      {{{body}}}
    </main>
    <footer class=""></footer>
    <script
      src="https://cdn.jsdelivr.net/gh/alpinejs/alpine@v2.x.x/dist/alpine.js"
      defer
    ></script>
    <script src="../path/to/tw-elements/dist/js/index.min.js"></script>
    <script src="https://unpkg.com/@themesberg/flowbite@1.2.0/dist/datepicker.bundle.js"></script>
    {{#if loggedIn}}
      <script src="./js/logout.js"></script>
      <script src="./js/newPatient.js"></script>
      <script src="./js/event.js"></script>
      <script src="./js/patientview.js"></script>
    {{/if}}
  </body>
</html>