<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>My Health Journal</title>
    <link rel="dns-prefetch" href="//unpkg.com" />
    <link rel="dns-prefetch" href="//cdn.jsdelivr.net" />
    <link
      rel="stylesheet"
      href="https://unpkg.com/tailwindcss@^1.0/dist/tailwind.min.css"
    />
    <link rel="stylesheet" type="text/css" href="../../public/css/output.css" />
  </head>
  <body class="">
    <header class="container m-auto py-6">

      {{#if loggedIn}}
        <div class="flex justify-between">
          <h1 class="text-4xl font-bold text-blue-800">{{userEmail}}</h1>
          <nav>
            <a
              href="../form"
              class="text-4xl font-bold text-blue-800 px-4"
            >Create Patient</a>
            <button
              class="text-4xl font-bold text-blue-800 px-4"
              id="logout"
            >Logout</button>

          </nav>
        </div>
      {{else}}
        <div class="flex justify-center">
          <h1 class="text-6xl font-bold text-blue-800">My Health Journal</h1>
        </div>
      {{/if}}
    </header>
    <main
      class="flex flex-row items-center justify-center h-screen shadow border-t-4 bg-gray-100"
    >

      {{{body}}}
    </main>
    <footer class=""></footer>
    <script
      src="https://cdn.jsdelivr.net/gh/alpinejs/alpine@v2.x.x/dist/alpine.js"
      defer
    ></script>
    {{#if loggedIn}}
      <script src="./js/logout.js"></script>
      <script src="./js/newPatient.js"></script>
    {{/if}}
  </body>
</html>