<section class="">
  <div class="mx-auto p-4 bg-white rounded-lg shadow-xl">
    <h2 class="text-4xl font-bold text-blue-800">
      Tell us about yourself
    </h2>
    <div class="m-auto px-2 py-4">
      <label for="height">What is patient height?</label>
      <input class="border rounded-md" type="text" id="height" />
    </div>
    <div class="m-auto px-2 py-4">
      <label for="weight">What is patient weight?</label>
      <input class="border rounded-md" type="text" id="weight" />
    </div>
    <div class="m-auto px-2 py-4">
      <label for="current-medication">Does patient have any medications?</label>
      <input class="border rounded-md" type="text" id="current-medication" />
    </div>
    <div class="m-auto px-2 py-4">
      <label for="medication-dose">If so, how much do is taken?</label>
      <input class="border rounded-md" type="text" id="medication-dose" />
    </div>
    <div class="m-auto px-2 py-4">
      <label for="primary-care">If patient has a Primary Care Physician, list
        them here</label>
      <input class="border rounded-md" type="text" id="primary-care" />
    </div>
    <div class="m-auto px-2 py-4">
      <label for="current-pharmacy">If patient has a pharmacy, list them here</label>
      <input class="border rounded-md" type="text" id="current-pharmacy" />
    </div>
    <div class="m-auto px-2 py-4">
      <button
        class="bg-blue-500 text-white m-auto py-1 px-4 rounded-lg hover:bg-blue-400"
        type="submit"
      >
        Submit
      </button>
    </div>
  </div>
</section>