<section class="container-sm mx-auto p-2">
      <div class="flex flex-row items-center mx-auto p-4 bg-white rounded-lg shadow-xl">
    <div class="">
        <h1 class="text-2xl">Signup</h1>
        <form class="form signup-form">
            {{!-- <div class="m-auto px-2 py-4">
                <label for="username-signup">Full Name:</label>
                <input class="border rounded-md" type="text" id="username-signup" />
            </div> --}}
            <div class="m-auto px-2 py-4">
                <label for="email-signup">Email:</label>
                <input class="border rounded-md" type="text" id="email-signup" />
            </div>
            <div class="m-auto px-2 py-4">
                <label for="password-signup">Password:</label>
                <input class="border rounded-md" type="password" id="password-signup" />
            </div>
            <div class="m-auto px-2 py-4">
                <label for="password-confirm">Confirm Password:</label>
                <input class="border rounded-md" type="password" id="password-confirm" />
            </div>
            <div class="m-auto px-2 py-4">
                <button class="bg-blue-500 text-white m-auto py-1 px-4 rounded-lg hover:bg-blue-400" type="submit">Signup</button>
            </div>
        </form>
    </div>
    <div class="border-solid border-slate-400 rounded-lg">
        <h1 class="text-2xl">Login</h1>
        <form class="form login-form">
            <div class="m-auto px-2 py-4">
                <label for="email-login">Email:</label>
                <input class="border rounded-md" type="text" id="email-login" />
            </div>
            <div class="m-auto px-2 py-4">
                <label for="password-login">Password:</label>
                <input class="border rounded-md" type="password" id="password-login" />
            </div>
            <div class="m-auto px-2 py-4">
            
                {{!-- <a href="/login" class= "bg-blue-500 text-white m-auto py-1 px-4 rounded-lg hover:bg-blue-400" type="submit">Login</a> --}}
                <button class="bg-blue-500 text-white m-auto py-1 px-4 rounded-lg hover:bg-blue-400" type="submit">Login</button>
            </div>
        </form>
    </div>
    </div>
</section>
<section class="">
    <img src="images/landingPicture.PNG" alt="an example of the app in use" class="mx-auto p-4 bg-white rounded-lg shadow-xl"></img>

</section>
<script src="./js/login.js"></script>
