<section>
  <div class="mx-auto p-4 bg-white rounded-lg shadow-xl">
    <h1 class="text-4xl font-bold text-blue-800">
      Patient List
    </h1>
</section>

<section class="flex flex-row items-center">
{{#each patient as |patients|}}
{{> patient-card}}
{{/each}}
</section>

<script src="./js/calendar.js"></script>