<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Health Journal</title>
    <link rel="dns-prefetch" href="//unpkg.com" />
    <link rel="dns-prefetch" href="//cdn.jsdelivr.net" />
    <link rel="stylesheet" href="https://unpkg.com/tailwindcss@^1.0/dist/tailwind.min.css">
    <link rel="stylesheet" type="text/css" href="/css/output.css">
</head>
<body>
    <header class="">
        {{#if loggedIn}}
        <div class="">
        <h1 class="">{{user.name}}</h1>
        <nav class=""></nav>
        </div>
        {{else}}
        <h1 class="">My Health Journal</h1>
    </header>
    <main class="">
            {{{ body }}}
    </main>
    <footer class=""></footer>
</body>
</html>