<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Health Journal</title>
    <link rel="stylesheet" type="text/css" href="../../public/css/output.css">
</head>
<body class="">
    <header class="container m-auto py-6">
        {{#if loggedIn}}
        <div class="flex justify-between">
        <h1 class="text-4xl font-bold text-blue-800">{{user.name}}</h1>
        <button class="text-4xl font-bold text-blue-800">Logout</button>
        </div>
        {{else}}
        <div class="flex justify-center">
        <h1 class="text-6xl font-bold text-blue-800">My Health Journal</h1>
        </div>
    </header>
    <main class="flex flex-row items-center content-center h-screen shadow border-t-4
        bg-gray-100">
            {{{ body }}}
    </main>
    <footer class=""></footer>
    <script
  src="https://cdn.jsdelivr.net/gh/alpinejs/alpine@v2.x.x/dist/alpine.js"
  defer
></script>
<script src="../../public/js/calendar.js"></script>
</body>
</html>